:root {
  --color-primary: #018f6e;
  --color-secondary: #fe9560;

  --rp-font-family-base: "IBM Plex Sans", sans-serif;
  --rp-font-family-mono: "UnifontEx", monospace;
  --rp-font-family-terminal: "Kode Mono", monospace;
  --rp-c-text-1: #202020;
  --rp-c-text-2: #434343;
  --rp-c-text-3: #848484;
  --rp-c-code-block-bg: #f8f8f8;
  --rp-c-text-code: #202020;
  --rp-c-bg: #fdfdfd;
  --rp-c-bg-soft: #f6f4f4;
  --rp-c-link: var(--color-primary);

  --code-base-color: #0f0f0f;
  --code-string-color: #5fa003;
  --code-keyword-color: #7b639e;
  --code-attr-color: #2f7b9a;
  --code-built-in-color: #c06917;
  --code-comment-color: #828282;

  --web-cli-green: #2e7e14;
  --web-cli-blue: #407ca8;
  --web-cli-magenta: #8f69c5;
  --web-cli-cyan: #3b93a0;
  --web-cli-yellow: #a58029;
  --web-cli-red: #d25151;
  --web-cli-black: #3d3d3d;
  --web-cli-bright-black: #6b6b6b;
  --web-cli-divider: rgb(232, 232, 232);

  --web-cli-width: clamp(35rem, 90vw, 55rem);
  --web-cli-height: clamp(20rem, 50vh, 30rem);

  --nav-color: #f0f0f060;

  --bwunster-eye-color: #4f5dcd;

  --feature-shuttle-color: #0fb9d6;
  --feature-violin-color: #944e14;
  --feature-typescript-color: #358ef1;
  --feature-decouple-color: #b29503;
  --feature-law-color: #c176b7;
  --feature-graph-color: #d84949;
  --feature-config-color: #7548f1;
  --feature-toolbox-color: #f78945;

  --rp-container-danger-text: var(--web-cli-red);

  --elevation-shadow-color: rgba(150, 150, 150, 0.05);

  --elevation-1-shadow:
    1px 1px 1px 0px var(--elevation-shadow-color),
    1px 1.5px 2px 0px var(--elevation-shadow-color),
    1px 2px 4px 0px var(--elevation-shadow-color),
    1px 2.5px 6px 0px var(--elevation-shadow-color),
    1px 3px 8px 2px var(--elevation-shadow-color),
    1px 4px 16px 2px var(--elevation-shadow-color);

  --elevation-1_25-shadow:
    1.25px 1.25px 1.25px 0px var(--elevation-shadow-color),
    1.25px 1.875px 2.5px 0px var(--elevation-shadow-color),
    1.25px 2.5px 5px 0px var(--elevation-shadow-color),
    1.25px 3.125px 7.5px 0px var(--elevation-shadow-color),
    1.25px 3.75px 10px 2.5px var(--elevation-shadow-color),
    1.25px 5px 20px 2.5px var(--elevation-shadow-color);

  --elevation-1_5-shadow:
    1.5px 1.5px 1.5px 0px var(--elevation-shadow-color),
    1.5px 2.25px 3px 0px var(--elevation-shadow-color),
    1.5px 3px 6px 0px var(--elevation-shadow-color),
    1.5px 3.75px 9px 0px var(--elevation-shadow-color),
    1.5px 4.5px 12px 3px var(--elevation-shadow-color),
    1.5px 6px 24px 3px var(--elevation-shadow-color);

  --elevation-1_75-shadow:
    1.75px 1.75px 1.75px 0px var(--elevation-shadow-color),
    1.75px 2.625px 3.5px 0px var(--elevation-shadow-color),
    1.75px 3.5px 7px 0px var(--elevation-shadow-color),
    1.75px 4.375px 10.5px 0px var(--elevation-shadow-color),
    1.75px 5.25px 14px 3.5px var(--elevation-shadow-color),
    1.75px 7px 28px 3.5px var(--elevation-shadow-color);

  --elevation-2-shadow:
    2px 2px 2px 0px var(--elevation-shadow-color),
    2px 3px 4px 0px var(--elevation-shadow-color),
    2px 4px 8px 0px var(--elevation-shadow-color),
    2px 5px 12px 0px var(--elevation-shadow-color),
    2px 6px 16px 4px var(--elevation-shadow-color),
    2px 8px 32px 4px var(--elevation-shadow-color);

  --elevation-2_5-shadow:
    2.5px 2.5px 2.5px 0px var(--elevation-shadow-color),
    2.5px 3.75px 5px 0px var(--elevation-shadow-color),
    2.5px 5px 10px 0px var(--elevation-shadow-color),
    2.5px 6.25px 15px 0px var(--elevation-shadow-color),
    2.5px 7.5px 20px 5px var(--elevation-shadow-color),
    2.5px 10px 40px 5px var(--elevation-shadow-color);
}

.dark {
  --color-primary: #1dff99;
  --color-secondary: #ff7d55;

  --rp-c-bg: #131212;
  --nav-color: #020101a0;
  --rp-c-bg-soft: #1e1b1b;
  --rp-c-bg-mute: #2d2a2a;
  --rp-c-text-code-bg: #281f1f;
  --rp-c-text-code: #f2f2f2;
  --rp-c-code-block-bg: #0c0b0b;
  --rp-c-text-1: #ffffff;
  --rp-c-text-2: #c8c8c8;

  --code-base-color: var(--rp-c-text-1);
  --code-string-color: #fef78f;
  --code-keyword-color: #d5c6fa;
  --code-attr-color: #a2b9f7;
  --code-built-in-color: #fdb240;
  --code-comment-color: #919191;

  --web-cli-green: #6a9f58;
  --web-cli-blue: #2ba1f6;
  --web-cli-magenta: #8f69c5;
  --web-cli-cyan: #58a7b4;
  --web-cli-yellow: #fef78f;
  --web-cli-red: #e05a5a;
  --web-cli-black: #5a5757;
  --web-cli-bright-black: #828282;
  --web-cli-divider: transparent;

  --feature-shuttle-color: #92e1ef;
  --feature-violin-color: #c8956b;
  --feature-typescript-color: #358ef1;
  --feature-decouple-color: #efe3a7;
  --feature-graph-color: #f66060;
  --feature-law-color: #eca4e2;
  --feature-config-color: #987bea;
  --feature-toolbox-color: #e4b048;

  --rp-container-danger-text: #ff7979 !important;

  --elevation-shadow-color: rgba(7, 6, 6, 0.1);
}

html {
  line-height: 1.4;
  scroll-padding-top: 7rem;
}

body {
  font-weight: 400;
  letter-spacing: 0.01em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lexend", sans-serif;
  letter-spacing: -0.025em !important;
}

h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
  font-weight: 400 !important;
}

p {
  line-height: inherit !important;
}

p code,
li code {
  padding-top: 0.15em !important;
  font-size: 1.035em !important;
}

code.language-typescript,
code.language-bash,
code.language-json {
  font-size: 1.15em !important;
}

code {
  font-family: var(--rp-font-family-mono) !important;
  font-size: 1.1em !important;
  line-height: 1.05 !important;
  border-radius: 0.25rem !important;
  padding: 0.2rem 0.25rem !important;
  letter-spacing: 0.01em;
  display: inline-block;
}

pre {
  border: none !important;
  box-shadow: var(--elevation-1_5-shadow) !important;
}

.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}

.bold {
  font-weight: bold;
}

.dark .light-only {
  display: none;
  visibility: hidden;
}

.dark-only {
  display: none;
  visibility: hidden;
}

.dark .dark-only {
  display: initial;
  visibility: visible;
}

aside .nav-title-container {
  display: none;
}

.rp-nav {
  background: transparent !important;
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
  border-bottom: none !important;
}

.rp-nav-menu__item__container > div:has(> svg) {
  width: 1.25rem !important;
  margin-left: 0.25rem;
  margin-right: 0 !important;
}

.rp-nav-menu__item__container::after {
  display: none !important;
}

.rp-nav__right .rp-nav-menu__item {
  margin-right: -0.5rem !important;
}

.rp-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--nav-color);
  backdrop-filter: blur(20px);
  z-index: -1;
  pointer-events: none;
}

.rp-nav__left {
  align-items: center;
}

.rp-nav-menu__item:hover .rp-nav-menu__item__container {
  color: var(--color-primary) !important;
}

.rp-hover-group {
  backdrop-filter: blur(25px);
  background-color: var(--nav-color) !important;
  margin-top: 1rem;
}

.rp-hover-group__item--active {
  color: var(--color-secondary) !important;
}

.rp-link:hover {
  color: var(--color-secondary) !important;
  border-color: var(--color-secondary) !important;
}

.rspress-doc {
  padding-bottom: 3rem !important;
}

.rspress-doc-footer {
  display: none;
}

.scrolled .rp-nav-menu__item__container {
  background-color: var(--nav-color);
}

.rp-nav-menu__item__container {
  border-radius: 0.5rem;
  padding: 0.75rem;
  margin: -0.75rem;
  transition: background-color 0.2s ease;
}

.rspress-scrollbar nav {
  margin-top: 1rem;
}

.pixel-art-image {
  image-rendering: pixelated;
}

.pixel-art-image.small {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.bun-version {
  font-size: 1rem;
  color: var(--rp-c-text-2);
}

.bun-version.home-bun-version {
  margin-top: -1rem;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: min(800px, 90vw);
  margin: 0 auto;
}

.sub-header-bun-version {
  margin-top: 1rem;
  margin-bottom: -1rem;
  font-size: 0.9rem;
}

.nav-title-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  font-family: var(--rp-font-family-mono);
  font-weight: bold;
  margin-top: -0.125rem;
  margin-right: 2rem;
}

.nav-title-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.25rem;
  height: 100%;
  min-width: 7rem;
  margin-bottom: -0.5rem;
  gap: 0.05rem;
}

.nav-title-text.light-only {
  margin-top: -0.75rem;
}

.nav-title-version {
  font-size: 1rem;
  letter-spacing: 0.075em;
  margin-left: 0.65rem;
  margin-top: -0.65rem;
  color: var(--rp-c-text-2);
  font-family: var(--rp-font-family-mono);
}

.note {
  font-size: 0.95rem;
}

.cli-command-doc,
.cli-global-option-doc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.cli-command-doc p,
.cli-global-option-doc p {
  margin: 0;
}

.cli-command-doc h3,
.cli-global-option-doc h3 {
  font-size: 1.35rem;
  text-decoration: underline;
}

hr {
  border-color: var(--rp-c-divider-light);
}

.cli-doc-section-anchor {
  position: absolute;
  top: -2.25rem;
  pointer-events: none;
}

.cli-global-option-doc-deprecation-text {
  color: var(--rp-container-danger-text);
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  line-height: 1.1;
}

.cli-command-options-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;

  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--elevation-1-shadow);
}

.cli-command-option-flags {
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  line-height: 1.3 !important;
  span {
    margin-left: 0.3rem;
  }
  background-color: color-mix(in srgb, var(--rp-c-bg) 80%, black);
}

.cli-command-option-flags code {
  background-color: var(--rp-c-bg);
}

/* Odds have bg */
.cli-command-option-flags:nth-child(even) {
  background-color: color-mix(in srgb, var(--rp-c-bg-soft) 50%, transparent);
}

.config-path {
  margin-top: 0.5rem;
}

.whats-new-list ul {
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 0.5rem !important;
}

.deprecated {
  color: var(--rp-container-danger-text) !important;
}

.sub-header {
  margin-top: -1rem;
}

.sub-header hr {
  margin: 2rem 0;
}

.footer {
  width: 100%;
  color: var(--rp-c-text-2);
  background-color: var(--rp-c-bg);
  z-index: 1;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
}

.footer a {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

a code {
  color: var(--rp-c-link) !important;
}

@media (max-width: 768px) {
  .footer {
    font-size: 0.65rem;
  }
}

.animated-sprite-container {
  width: fit-content;
  height: fit-content;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.reference-divider {
  margin: 2rem 0 0 0 !important;
}

.home-smorsic-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 4rem;
}

.smorsic-banner-logo {
  height: auto;
}

.smorsic-banner-logo:hover {
  filter: brightness(0.9);
}

#who-is-bwunster {
  text-align: center;
}

.lore-bwunster {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.lore-recipe {
  margin-bottom: 2.5rem;
}

.lore-recipe ol {
  line-height: 1.3;
}

.lore-recipe span {
  line-height: 1.7;
}

.lore-credits {
  color: var(--rp-c-text-2);
  display: flex;
  flex-direction: column;
}

.lore-credits > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: -0.5rem;
}

.lore-credits a {
  margin-right: 0.25rem;
  font-size: 1.1em;
}

.config-divider {
  padding-top: 1rem;
}

#project-configuration,
#workspace-configuration,
#settable-environment-variables {
  margin-top: 2rem;
}

.inline-link {
  cursor: pointer;
  color: var(--rp-c-link);
  font-weight: 500;
  transition: color 0.25s;
}

.inline-link:hover {
  border-bottom: 1px solid var(--color-secondary);
}

.env-vars-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.env-vars-list li > code {
  font-size: 1.35rem !important;
  margin-bottom: 0.25rem;
}

.web-cli-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.web-cli-button {
  font-family: "Jersey 10", sans-serif;
  background-color: var(--color-secondary);
  text-shadow: 1px 1px 3px
    color-mix(in srgb, var(--color-secondary) 10%, black 90%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.75rem 1.5rem;
  text-align: center;
  line-height: 0.75;
  font-size: 2.1rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
}

.web-cli-button:hover,
.web-cli-button:focus,
.web-cli-button:active {
  background-color: var(--rp-c-link) !important;
  color: white !important;
  animation: none !important;
  opacity: 1 !important;
}

.web-cli-button-note {
  font-size: 0.85rem;
  text-align: center;
  opacity: 0.75;
  margin-top: 0.35rem;
  line-height: 1.15 !important;
}

.rp-social-links a[href="https://github.com/sponsors/smorsic"] svg {
  color: var(--web-cli-red) !important;
}

.banner {
  position: absolute;
  top: 3rem;
  left: 1.5rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-top: -2rem;
  margin-bottom: 0.75rem;
  border: 1px solid var(--rp-c-divider-light);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--rp-c-text-2);
  font-size: 1rem;
  line-height: 1.35;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  width: clamp(25rem, calc(((100dvw - 864px)) - 4rem), 30rem);
}

@media screen and (max-width: 1400px) {
  .banner {
    display: none;
  }
}

.banner-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.banner-close {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--rp-c-bg-soft);
  color: var(--rp-c-text-1);
  border: 1px solid var(--rp-c-divider-light);
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.85rem;
}

.dont-show-again-container {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  font-size: 0.75rem;
}

.dont-show-again-container input,
.dont-show-again-container label {
  cursor: pointer;
}

.banner-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  transform: translateY(0.2rem);
}

.banner-link {
  color: var(--rp-c-link);
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.star-link {
  display: inline-flex;
  align-items: center;
  gap: 0.15rem;
  color: var(--web-cli-yellow);
  transform: translateY(0.085rem);
}

.pm-tabs {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.pm-tabs-content {
  box-shadow: var(--elevation-1_75-shadow);
}

.pm-tabs-header {
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.pm-tabs-header h3 {
  font-size: 1.75rem;
  margin: 0 !important;
}

.pm-tabs-links {
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: var(--rp-c-link);
}

.pm-tabs-tabs {
  display: flex;
  border-bottom: 2px solid var(--rp-c-bg);
}

.pm-tabs-tabs button {
  flex: 1;
  background-color: var(--rp-c-bg-mute);
  color: var(--rp-c-text-1);
  font-weight: bold;
  padding: 0.4rem;
  border-right: 2px solid var(--rp-c-bg);
  cursor: pointer;
}

.pm-tabs-tabs button:focus-visible {
  outline: 2px solid var(--color-primary);
  border-color: var(--color-primary);
}

.pm-tabs-tabs button:first-child {
  border-top-left-radius: 0.5rem;
}

.pm-tabs-tabs button:last-child {
  border-top-right-radius: 0.5rem;
  border-right: none;
}

.pm-tabs-tabs button.active {
  background-color: var(--color-secondary);
  color: black;
}

.pm-tabs-section {
  padding: 0.75rem;
  background-color: var(--rp-c-bg-soft);
}

.pm-tabs pre {
  margin: 0 !important;
}

.pm-tabs pre {
  border-radius: 0 !important;
  box-shadow: none !important;
}

.pm-tabs pre:nth-last-of-type(1) {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.doc-pm-tabs-container {
  margin-bottom: -1rem;
}
